.flipHeader {
  height: 115px;
  text-align: center;

}
.tickUpBtn {
  position: relative;
  outline: none;
  height: 30px;
  width: 80%;
  margin: auto;
  border: solid 1px #4db6ac;
  color: #4db6ac;
  background: transparent;
  border-radius: 4px;
  font-family: Roboto;
}
.tickUpBtn:hover{
  outline: none;
  background: #4db6ac;
  color: #fff;
}
.tickUpBtn:focus{
  outline: none;
}
.faUp{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  top: 1px;
  font-size: 30px;
}
.faDown{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  bottom: 1px;
  font-size: 30px;
}